*{
	
	padding: 0;
	margin: 0;
	border: none;
}
body{
	padding: 0;
	margin: 0;
	background: #060518;
}

header{
	width: 100%;
	background: red;
	height: 100px;
	font: italic 15pt 'Arial';
	padding-top: 20px;
}
header h1 {
	margin-left: 130px;
}
.sessao{
	width: 100%;
	text-align: center;
	padding: 10px auto;
	margin-bottom: 30px;
}

.paragrafo1{
	/*margin: 10px auto;*/
	color: white;
	width: 1500px;
	margin: 15px auto;
	text-align: start;
	font: normal 20px 'Times New Roman';
	
}
.paragrafo1 p{
	padding: 5px;
	/*text-align: start;*/
}
h2{
	margin-top: 15px;
	color: white;
	font: normal 30pt 'Times New Roman';
}















.tabela{
	width: 90%;
	margin: 15px auto;
	border: 1px solid #fff;

}
.linhas{
	width: 30px;
	background: rgba(0, 1, 5, 0.904);
}
.num-lin{
	color: #fff;
	font: normal 10pt 'Arial';
}
.coluna{
	height: 30px;
}
.numeracao{
	color: #fff;
}


table{
	margin: 19px auto;
}
tr{
	height: 75px;
	border: none;
	/*max-height: 50px;*/
}

.col:hover{
	border: 3px solid red;
}
td{
	/*min-width: 70px;*/
	border: none;
	max-width: 75px;
}



footer{
	background: gray;
	width: 100%;
	height: 70px;
}


.col{
	background: #000;
	width: 75px;
}
.col:hover{
	background: #fff;
}
.linha:hover{
	background: #fff;
	opacity: 100%;
}
.colspan{
	background: #060518;
}
.colspan:hover{
	background: #060518;

}

.col{
	/*background: white;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 200px;
	padding: 0;
	
}


.col-57-71{
	font-size: 12px;

}
.nao-metais{
	background: #00FF00;
}
.met-alc-ter{
	background: yellow;
}
.met-alca{
	background: orange;
}
.met-trans{
	background: rgb(255, 0, 234);
}
.met-pos-trans{
	background: rgb(0, 255, 170);
}
.o-nao-met{
	background: rgb(0, 105, 0);
}
.desc{
	color: white;
}
.gas-nobre{
	background: rgb(0, 140, 255);
}
.hal{
	background: rgb(0, 136, 136);
}

.lan{
	background: rgb(255, 162, 134);
}
.act{
	background: rgb(251, 134, 255);
}


.simbolo{
	font: normal 10pt 'Arial';
	font-weight: 900;
	margin-left: 5px;
}

