body{
	background: #060518;
	padding: 0;
	margin: 0;
	border: none;
}

.tabela{
	width: 100%;

}
table{
	margin: 19px auto;
}
tr{
	height: 70px;
	/*max-height: 50px;*/
}


td{
	min-width: 70px;
	max-width: 70px;
}

.col{
	background: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 200px;
}
.col-57-71{
	font-size: 12px;

}
.nao-metais{
	background: #00FF00;
}
.met-alc-ter{
	background: yellow;
}
.met-alca{
	background: orange;
}
.met-trans{
	background: rgb(255, 0, 234);
}
.met-pos-trans{
	background: rgb(0, 255, 170);
}
.o-nao-met{
	background: rgb(0, 105, 0);
}
.desc{
	color: white;
}
.gas-nobre{
	background: rgb(0, 140, 255);
}
.hal{
	background: rgb(0, 136, 136);
}

.lan{
	background: rgb(255, 162, 134);
}
.act{
	background: rgb(251, 134, 255);
}

